.gallery__item {
  width: 320px;
  // margin: 0 auto;
  // @media (min-width: $tablet-width) {
  //   .gallery__item {
  //     margin-bottom: 120px;
  //   }

  //   .gallery__item:nth-child(3) {
  //     // margin-top: 140px;
  //   }


    @media (max-width: $mobile-width-only) {
      border-bottom: 1px solid $hr-color;
    }
  }

.gallery__main-title {
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  color: $title-color;
  padding: 0;
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 39px;

  @media (max-width: $mobile-width-only) {
    border-bottom: 1px solid $hr-color;
  }
}

@media (min-width: $tablet-width) {
  .gallery__main-title {
    font-size: 60px;
    line-height: 60px;
    padding-top: 31px;
    padding-left: 30px;
    margin-bottom: 22px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__main-title {
    padding-top: 38px;
    padding-left: 110px;
    margin-bottom: 84px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__list {
    display: grid;
    gap: 60px;
    grid-template-columns: 324px 324px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__list {
    display: grid;
    gap: 80px 63px;
    // row-gap: 63px;
    grid-template-columns: 245px 245px 245px 245px;
  }
}

//.................................................image

.gallery__image {
  padding-top: 30px;
  padding-bottom: 27px;
  padding-left: 56px;
  margin-right: 36px;
}


@media (min-width: $tablet-width) {
  .gallery__image {
    margin-top: 22px;
    padding-left: 112px;
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image {
    margin-top: 2px;
    padding-left: 152px;
    padding-bottom: 27px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__image--500 {
    padding-top: 22px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image--500 {
    padding-top: 40px;
  }
}

.gallery__image--big {
  padding-top: 24px;
  padding-bottom: 25px;
  padding-left: 48px;
}


@media (min-width: $tablet-width) {
  .gallery__image--big {
    margin-top: 11px;
    margin-left: -4px;
    padding-bottom: 0;
    margin-bottom: 17px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image--big {
    margin-left: 100px;
    padding-bottom: 15px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image--big {
    padding-left: 46px;
    padding-top: 16px;
  }
}
////!!!
///
///

@media (max-width: $mobile-width-only) {
  .gallery__image--fish500 {
    padding-top: 35px;
    padding-bottom: 23px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__image--fish1000 {
    padding-top: 25px;
    padding-bottom: 26px;
    padding-left: 48px;
  }
}

///breake mobile layout//
///  @media (max-width: $mobile-width-only) {
//   .gallery__image--chicken1000 {
//     padding-top: 25px;
//   }
// }

.gallery__image--buckwheat500 {
  padding-top: 35px;
}

@media (max-width: $mobile-width-only) {
  .gallery__image--buckwheat1000 {
    padding-top: 25px;
    padding-bottom: 27px;
    padding-left: 48px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__image--big-buckwheat {
    padding-top: 30px;
    padding-left: 46px;
    margin-bottom: 0;
  }
}


.gallery__image--rice500 {
  padding-top: 32px;
  padding-bottom: 26px;
}




//////////////////////

//wrapper

.gallery__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-left: 160px;
  margin-top: -130px;
  margin-bottom: 7px;
}

@media (min-width: $tablet-width) {
  .gallery__wrapper {
    margin-top: 0;
    margin-bottom: 1px;
    padding-left: 67px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 148px;
  }
}

// title

.gallery__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin: 0;
  padding-top: 4px;
  padding-right: 64px;
  color: #222222;
  text-transform: uppercase;
  text-decoration: none;
}

@media (max-width: $mobile-width-only) {
  .gallery__title--chicken1000 {
    margin-top: -5px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__title--fish500 {
    padding-top: 12px;
    margin-bottom: 2px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__title--fish1000 {
    margin-top: -7px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__title--buckwheat500 {
    padding-top: 8px;
  }
}

@media (max-width: $mobile-width-only) {
  .gallery__title--buckwheat1000 {
    margin-top: -4px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__title {
    font-size: 20px;
    line-height: 24px;
    padding-left: 63px;
    margin-bottom: 13px;
  }

  .gallery__title--1000 {
    padding-left: 61px;
    margin-bottom: 12px;
  }

  // .gallery__title--chicken1000 {
  //   padding-left: 61px;
  //   margin-bottom: 12px;
  // }
}

@media (min-width: $tablet-width) {
  .gallery__grams {
    padding-left: 44px;
  }

  .gallery__grams--fish500 {
    padding-left: 43px;
  }

  .gallery__grams-1000 {
    padding-left: 39px;
  }
}


@media (min-width: $desktop-width) {
  .gallery__title {
    padding-left: 15px;
    padding-right: 14px;
    margin-bottom: 26px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__title--1000 {
    margin-bottom: 20px;
  }
}

.gallery__title-link {
  color: #222222;
}

//assortment-list

// @media (max-width: $mobile-width-only) {
//   .gallery__assortment-list--fish500 {
//     margin-top: 12px;
//     margin-bottom: 13px;
//   }
// }

@media (min-width: $tablet-width) {
  .gallery__assortment-list {
    padding: 0;
    margin: 0;
    margin-bottom: 31px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__assortment-list {
    margin-top: 0;
    margin-bottom: 18px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__assortment-list--1000 {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

//card

.gallery__card {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .gallery__card {
    padding: 0;
    margin-top: 6px;
    // margin-bottom: 7px;
    border-bottom: 1px solid $border-color;
  }
}

// @media (min-width: $tablet-width) {
//   .gallery__item:not(:last-child) {
//     background: linear-gradient(#ffffff 15%, #eaeaea 15%);
//   }
// }

//description

.gallery__description {
  font-size: 12px;
  line-height: 16px;
  margin-right: 35px;
}

.gallery__description--1000 {
  margin-right: 30px;
}

@media (min-width: $tablet-width) {
  .gallery__description {
    font-size: 16px;
    line-height: 20px;
    margin-right: 162px;
    margin-bottom: 5px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__description--1000 {
    margin-right: 100px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__description {
    margin-right: 84px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__description--1000 {
    margin-right: 62px;
  }
}

//value

.gallery__value {
  font-size: 12px;
  line-height: 16px;
}

.gallery__value--price {
  margin-right: 3px;
}

@media (min-width: $tablet-width) {
  .gallery__value {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}

////////////////////
.gallery__button {
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 20px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .gallery__button {
    width: 250px;
    margin-left: 67px;
    // margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .gallery__button {
    width: 169px;
    margin-top: 0;
    margin-left: 148px;
  }
}

@media (min-width: $tablet-width) {
  .gallery__hr,
  .header__hr {
    display: none;
  }
}


@media (max-width: $mobile-width-only) {
  .gallery__br {
    display: none;
  }
}
