.good-card {
  width: 320px;
}

.good-card__title {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  padding-left: 20px;
  margin-top: 0;
  margin-bottom: 13px;
  color: $secondary-text-color;
  text-transform: uppercase;
}


@media (min-width: $tablet-width) {
  .good-card__title {
    font-size: 20px;
    line-height: 20px;
    margin-left: 20px;
    margin-bottom: -23px;
  }
}

@media (min-width: $desktop-width) {
  .good-card__title {
    padding-left: 0;
    margin-left: 0;
  }
}

.good-card__wrapper {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .good-card__wrapper {
    justify-content: end;
    width: 632px;
    padding-left: 68px;
    margin-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .good-card__wrapper {
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.good-card__discription {
  line-height: 14px;
  margin: 0;
  color: $primary-text-color;
}

@media (min-width: $tablet-width) {
  .good-card__discription {
    font-size: 16px;
    line-height: 20px;
    padding-top: 7px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .good-card__discription {
    padding-top: 2px;
    margin-right: 104px;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .good-card__discription--short {
    margin-right: 177px;
  }
}

.good-card__price {
  line-height: 14px;
  margin: 0;
  color: $primary-text-color;
}

@media (min-width: $tablet-width) {
  .good-card__price {
    font-size: 16px;
    line-height: 20px;
    padding-top: 5px;
    padding-right: 33px;
  }
}

@media (min-width: $desktop-width) {
  .good-card__price {
    padding-top: 2px;
    margin-left: 13px;
  }
}
