.header__hr {
  margin-top: 50px;
  border-color: #d9d9d9;
}

.logo {
  padding-bottom: 50px;
}

.logo__image {
  position: absolute;
  padding-top: 10px;
  padding-left: 20px;
  // margin-bottom: 14px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    padding-top: 20px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    padding-top: 55px;
    padding-left: 110px;
  }
}

.logo__text {
  position: absolute;
  padding-top: 19px;
  padding-left: 109px;
}

@media (min-width: $tablet-width) {
  .logo__text {
    padding-top: 41px;
    padding-left: 103px;
  }
}

@media (min-width: $desktop-width) {
  .logo__text {
    padding-top: 74px;
    padding-left: 194px;
  }
}


.logo__text:hover {
  opacity: 80%;
}

.logo__text:active {
  opacity: 60%;
}

.logo__image:hover {
  opacity: 80%;
}

.logo__image:active {
  opacity: 60%;
}

.main-header {
  position: relative;
}

.main-header__toggle {
  position: absolute;
  top: 17px;
  right: 20px;
  display: block;
  width: 24px;
  height: 24px;
  cursor: pointer;
  border: none;
  background-color: $light-text-color;
}

.main-header__toggle::before {
  content: "";
  position: absolute;
  top: 3px;
  right: 1px;
  width: 24px;
  height: 2px;
  background-color: $title-color;
  border: none;
  box-shadow: 0 8px 0 0 $title-color, 0 16px 0 0 $title-color;
}

@media (min-width: $tablet-width) {
  .main-header__toggle {
    display: none;
  }
}

.main-header__toggle:hover::before {
  background-color: rgba(0, 0, 0, 0.6);
  box-shadow:
    0 8px 0 0 rgba(0, 0, 0, 0.6),
    0 16px 0 0 rgba(0, 0, 0, 0.6);
}

.main-header__toggle:active::before {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow:
    0 8px 0 0 rgba(0, 0, 0, 0.3),
    0 16px 0 0 rgba(0, 0, 0, 0.3);
}

.main-nav--opened .main-nav__toggle {
  top: 23px;
  right: 20px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: $title-color;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
    box-shadow: none;
  }

  &:active::before,
  &:active::after {
    background-color: #6b6b6b;
  }
}


