@media (min-width: $tablet-width) {
  .main-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 65px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .main-footer__hr {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__wrapper {
    padding-right: 110px;
    padding-left: 110px;
  }
}

.main-footer__logo {
  padding-top: 40px;
  padding-left: 96px;
  margin-bottom: 20px;
}

@media (min-width: $tablet-width) {
  .main-footer__logo {
    padding: 0;
    margin-right: 160px;
  }
}

@media (min-width: $desktop-width) {
  .main-footer__logo {
    margin-right: 416px;
  }
}

.main-footer__hr {
  width: 280px;
  margin: 19px;
}

.main-footer {
  background-color: $basic-background;
}

.main-footer__logo:hover {
  opacity: 80%;
}

.main-footer__logo:active {
  opacity: 60%;
}
