.header__hr {
  margin-top: 50px;
  border-color: #d9d9d9;
}

.logo {
  padding-bottom: 50px;
  // z-index: 29;
  z-index: 2;
}

.logo__image {
  position: absolute;
  padding-top: 10px;
  margin-left: 20px;
}

@media (min-width: $tablet-width) {
  .logo__image {
    padding-top: 25px;
    padding-left: 11px;
  }
}

@media (min-width: $desktop-width) {
  .logo__image {
    padding-top: 55px;
    padding-left: 90px;
  }
}

.logo__text {
  position: absolute;
  padding-top: 24px;
  padding-left: 109px;
}

@media (min-width: $tablet-width) {
  .logo__text {
    width: 103px;
    height: 23px;
    padding-top: 39px;
    padding-left: 103px;
  }
}

@media (min-width: $desktop-width) {
  .logo__text {
    width: 125px;
    height: 25px;
    padding-top: 72px;
    padding-left: 190px;
  }
}

.logo__text:hover {
  opacity: 80%;
}

.logo__text:active {
  opacity: 60%;
}

.logo__image:hover {
  opacity: 80%;
}

.logo__image:active {
  opacity: 60%;
}

.main-header {
  position: relative;
}
