.nutrition {
  z-index: 23;
}

.nutrition__list {
  padding-bottom: 49px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .nutrition__list {
    display: grid;
    grid-template-columns: 230px 246px;
    grid-template-rows: 280px 280px;
    gap: 37px 153px;
    padding-bottom: 92px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__list {
    grid-template-columns: 230px 246px 248px 250px;
    grid-template-rows: 280px;
    gap: 0 94px;
    // padding-bottom: 20px;
    padding-left: 110px;
  }
}

.nutrition__item {
  position: relative;
  margin-bottom: 24px;
}

.nutrition__title {
  font-family: $secondary-font;
  font-size: 36px;
  line-height: 40px;
  color: $title-color;
  margin-bottom: 40px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .nutrition__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 30px;
    margin-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .nutrition__title {
    padding-left: 110px;
  }
}

.nutrition__description {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
  color: $primary-text-color;
  padding-left: 80px;
}

@media (min-width: $tablet-width) {
  .nutrition__description {
    padding-top: 151px;
    padding-left: 0;
    padding-bottom: 57px;
  }
}

.nutrition__item--leaf::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#icon-leaf");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--leaf::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item--leaf::after {
    content: "1";
    position: absolute;
    display: block;
    top: 0;
    left: 92px;
    width: 112px;
    height: 280px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    z-index: -1;
  }
}


.nutrition__item--pounder::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#pounder-icon");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--pounder::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item--pounder::after {
    content: "2";
    position: absolute;
    display: block;
    top: 0;
    left: 80px;
    width: 134px;
    height: 280px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    z-index: -1;
  }
}

.nutrition__item--tableware::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#tablewear-icon");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--tableware::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item--tableware::after {
    content: "3";
    position: absolute;
    display: block;
    top: 0;
    left: 102px;
    width: 136px;
    height: 280px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    z-index: -1;
  }
}

.nutrition__item--watch::before {
  content: "";
  position: absolute;
  display: block;
  width: 60px;
  height: 60px;
  background-image: url("../../icons/stack.svg#watch-icon");
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .nutrition__item--watch::before {
    top: 40px;
    width: 80px;
    height: 80px;
  }
}

@media (min-width: $tablet-width) {
  .nutrition__item--watch::after {
    content: "4";
    position: absolute;
    display: block;
    top: 0;
    left: 85px;
    width: 136px;
    height: 280px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $basic-background;
    z-index: -1;
  }
}

